[submodule "mongoose"]
	path = deps/mongoose
	url = https://github.com/velho/mongoose/
[submodule "libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/velho/libtomcrypt
[submodule "tlse"]
	path = deps/tlse
	url = https://github.com/velho/tlse
[submodule "check"]
	path = deps/check
	url = https://github.com/libcheck/check
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath
